{% extends 'base.html.twig' %}

{% block title %}Quest index{% endblock %}

{% block body %}
    <h1>Quest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Count</th>
                <th>{{ knp_pagination_sortable(quests, 'Name', 'q.name') }}</th>
                <th>Merchant</th>
                <th>Map</th>
                <th>Objective</th>
                <th>Status</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quest in quests %}
            <tr>
                <td>
                    {% for questItem in quest.questItems %}
                        {% set item = questItem.item %}
                        {% set key = quest.id ~ '_' ~ item.id %}
                        {% set count = counts[key] is defined and counts[key] ? counts[key].count : 0 %}
                        <li>
                            {{ item.name }} :
                            <form action="{{ path('item_count_increment', { questId: quest.id, itemId: item.id }) }}"
                                  method="post" style="display:inline;">
                                <button type="submit">+</button>
                            </form>
                            <form action="{{ path('item_count_decrement', { questId: quest.id, itemId: item.id }) }}"
                                  method="post" style="display:inline;">
                                <button type="submit">-</button>
                            </form>
                            <span id="count-{{ key }}">{{ count }}</span>
                            / {{ questItem.requiredCount }}
                        </li>
                    {% endfor %}
                </td>
                <td>{{ quest.name }}</td>
                <td>{{ quest.merchant.name }}</td>
                <td>{{ quest.map }}</td>
                <td>{{ quest.objective }}</td>
                <td>{{ quest.status }}</td>
                <td>{{ quest.slug }}</td>
                <td>
                    <a href="{{ path('quest_show', {slug: quest.slug}) }}">show</a>
                    {% if is_granted('ROLE_CONTRIBUTOR') and is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('quest_edit', {slug: quest.slug}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_CONTRIBUTOR') and is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href="{{ path('quest_new') }}">Create new</a>
    {% endif %}
{% endblock %}
