{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-between bg-[#1E1E1E] my-20 mx-70 rounded-xl shadow-2xl min-h-120">
    <h1 class="mb-5 mt-4">Create new Quest :</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.map) }}
    {{ form_row(form.objective) }}
    {{ form_row(form.status) }}
    {{ form_row(form.merchant) }}

    <h2 class="mb-2">Items required for quest :</h2>
    <ul id="quest-items-list" data-prototype="{{ form_widget(form.questItems.vars.prototype)|e('html_attr') }}">
        {% for questItemForm in form.questItems %}
            <li>
                {{ form_row(questItemForm.item) }}
                {{ form_row(questItemForm.requiredCount) }}
                    <button type="button" class="remove-item btnDel">Delete Item</button>
            </li>
        {% endfor %}
    </ul>

    <div class="btn">
        <button type="button" id="add-item">Add new required Item</button>
    </div>

    <div class="btn">
        <button type="submit">Add New Quest</button>
    </div>

    {{ form_end(form) }}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const collectionHolder = document.getElementById('quest-items-list');
            const addButton = document.getElementById('add-item');

            // compteur d'index pour prototype
            let index = collectionHolder.children.length;

            addButton.addEventListener('click', () => {
                // récupère prototype HTML + remplace __name__ par index
                let newForm = collectionHolder.dataset.prototype.replace(/__name__/g, index);
                index++;

                // crée un <li> et ajoute le contenu
                let newLi = document.createElement('li');
                newLi.innerHTML = newForm + '' +
                    '<div class="btnDel mb-6">' +
                        '<button type="button" class="remove-item">Delete Item</button>' +
                    '</div>' +
                '<hr class="border-t border-gray-400 my-4">';
                collectionHolder.appendChild(newLi);


                // ajoute événement suppression sur ce bouton
                newLi.querySelector('.remove-item').addEventListener('click', (e) => {
                    e.target.closest('li').remove();
                });
            });

            // bouton supprimer sur éléments déjà présents
            collectionHolder.querySelectorAll('.remove-item').forEach(btn => {
                btn.addEventListener('click', (e) => {
                    e.target.closest('li').remove();
                });
            });
        });
    </script>

    <div class="btn mb-5">
        <a href="{{ path('quest_index') }}">Back to list</a>
    </div>
</div>
{% endblock %}
