{% extends 'base.html.twig' %}

{% block title %}Merchant index{% endblock %}

{% block body %}
    <h1>Merchant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for merchant in merchants %}
            <tr>
                <td>
                    <img src="{{ vich_uploader_asset(merchant) }}" alt="{{ merchant.name }}">
                </td>
                <td>{{ merchant.id }}</td>
                <td>{{ merchant.name }}</td>
                <td>
                    <a href="{{ path('merchant_show', {slug: merchant.slug}) }}">show</a>
                    <a href="{{ path('merchant_edit', {slug: merchant.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('merchant_new') }}">Create new</a>
{% endblock %}
