{% extends 'base.html.twig' %}

{% block title %}Merchant index{% endblock %}

{% block body %}

    <div class="items-center justify-center bg-[#1E1E1E] py-4 mt-10 mx-70 rounded-xl shadow-2xl min-h-120">
        <div class="text-center">
            <h1 class="!text-gray-300 mb-6">Travelers and Merchants</h1>
        </div>
        <div class="grid grid-cols-5 gap-1">

            {% for merchant in merchants %}
                <div class="flex flex-col items-center">
                    <a href="{{ path('merchant_quests_by_merchant', { slug: merchant.slug }) }}" class="">
                        <img src="{{ vich_uploader_asset(merchant) }}" alt="{{ merchant.name }}" class="object-cover">
                    </a>

                    <a href="{{ path('merchant_quests_by_merchant', { slug: merchant.slug }) }}" class="">
                        <h3>
                            {{ merchant.name }}
                        </h3>
                    </a>


                    {% if is_granted('ROLE_CONTRIBUTOR') and is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('merchant_edit', {slug: merchant.slug}) }}" class="text-xs text-blue-400 mt-1 hover:underline">edit</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="col-span-5 text-center text-white">no records found</div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_CONTRIBUTOR') and is_granted("IS_AUTHENTICATED_FULLY") %}
            <div class="text-center my-4">
                <a href="{{ path('merchant_new') }}" class="btn text-white">Create new</a>
            </div>
        {% endif %}
    </div>

{% endblock %}
