{% extends 'base.html.twig' %}

{% block title %}New Rarity{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-between bg-[#1E1E1E] my-20 mx-70 rounded-xl shadow-2xl min-h-120">
    <h1 class="mt-4">Create new Rarity</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.color) }}
    <p>Color must be hexadecimal only (ex: #cccccc)</p>
    <div class="btn">
        <button type="submit">Add New Rarity</button>
    </div>
    {{ form_end(form) }}


    <a href="{{ path('rarity_index') }}" class="btn text-white mb-4">Back to list</a>
</div>
{% endblock %}
