    <nav class="container mx-auto px-6 py-6">
        <div class="flex items-center justify-between">
            <div class="text-[#d29131] font-bold text-xl">
                <a href="#">Dark and Darker - Quest Tracker</a>
            </div>
            <li class="hidden md:block text-[#CCCCCC]">
                <ul class="flex items-center space-x-8">
                    <li><a href="{{ path('quest_index') }}" class="font-semibold">Quest</a></li>
                    <li><a href="{{ path('merchant_index') }}" class="font-semibold">Merchant</a></li>
                    <li><a href="{{ path('item_index') }}" class="font-semibold">Item</a></li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED") %}
                        {% else %}
                            <a href="{{ path('app_register') }}" class="font-bold">
                                Register
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="font-bold">
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="font-bold">
                                Login
                            </a>
                        {% endif %}
                    </li>
                    {% if is_granted('ROLE_CONTRIBUTOR') and is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li class="btnAdmin">
                            <button class="" type="button"
                                    data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
                                    aria-controls="drawer-navigation">
                                Admin Dashboard
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="md:hidden text-[#CCCCCC]">
                <button class="outline-none mobile-menu-button">
                    <svg class="w-6 h-6 text-[#CCCCCC] font-bold" x-show="!showMenu" fill="none" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        <div class="mobile-menu hidden md:hidden text-[#CCCCCC]">
            <ul class="mt-4 space-y-4">
                <li><a href="#" class="block px-4 py-2  font-bold bg-gray-900 rounded">Home</a></li>
                <li><a href="#" class="block px-4 py-2  font-bold bg-gray-900 rounded">About</a></li>
                <li><a href="#" class="block px-4 py-2  font-bold bg-gray-900 rounded">Services</a></li>
                <li><a href="#" class="block px-4 py-2  font-bold bg-gray-900 rounded">Contact</a></li>
            </ul>
        </div>
    </nav>
